<%- layout('layout.ejs') %>
<h1>Catalogue</h1>
<p><a href="/api/watches/create" class="btn btn-success" >Add a Watch</a></p>
<div>
    <table class="table table-bordered table-condensed">

        <tr class="active">
                <th>Model Name</th>
                <th>Model Year</th>
                <th></th>
                <th></th>
        </tr>

        <% for(var i=0; i < jsonData.length; i++) { %>
            <tr>
                <td><%= jsonData[i].modelname %></td>
                <td><%= jsonData[i].modelyear %></td>
                <td><a href="/api/watches/edit/<%= jsonData[i].watchid %>" class="btn btn-primary btn-sm">Edit</a></td>
                <td><a href="/api/watches/delete/<%= jsonData[i].watchid %>" class="btn btn-primary btn-sm">Delete</a></td>
            </tr>
        <% } %> 
    </table>
</div>
